<app-main-nav></app-main-nav>

<div class="container">
	<div class="main-wrapper">
		
		<div class="content">
			<div class="featured">
				<app-featured-songs class = "tabbable" id = "featured"></app-featured-songs>
				<app-home class = "tabbable" id = "home"></app-home>
				<app-sign-up class = "tabbable" id = "signup"></app-sign-up>
				<app-about class = "tabbable" id = "about"></app-about>
			</div>
		</div>
	</div>
</div>