<div class="container" >

	<div class="banner">
			<img src="../assets/background.jpg" alt="">
	</div>
	<div class="linking">
		<li class="links"><a href="/homepage">Homepage</a></li>
		<li class="links"><a href="/createAlbum">Create Album</a></li>
		<li class="links"><a href = "/createArtist">Create Artist</a></li>
		<li class="links"><a href = "/createSong">Add a Song</a></li>
		<li class = "links"></li>
		<li class = "links"><a id = "logout" (click) = 'logout()'>Logout</a>
		</li>
	</div>

</div>

